.home-page {
    background-color: #F4FFFF;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.home-page h1 {
    font-size: 500%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 1%;
}

.home-page h2 {
    background-color: #eeffff;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 200%;
    margin-left: 80%;
}

.home-page-button-container {
    background-color: #eeffff;
    z-index: -1;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 60%;
}

.home-page button {
    background-color: #bbccff;
    border: 1px solid #bbccff;
    border-radius: 20px;
    font-size: 200%;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-weight: bold;
    cursor: pointer;
}

.content-container1 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 30vh;
}
/* 검색창 컨테이너 스타일 */
.search-container1 {
    background-color: #F4FFFF;
    margin-left: 20px;
    display: flex;
}

/* 검색 폼 스타일 */
.search-form1 {
    display: flex;
    width: 70vh;
    align-items: center;
    border: 2px solid #3d8190;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 40px;
    background-color: #F4FFFF;
}

/* 입력 필드 스타일 */
.search-input1 {
    width: 350vh;
    height: 40px;
    border: none;
    margin-left: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
    background-color: #F4FFFF;
}

/* 버튼 스타일 */
.search-button1 {
    background-color: #3d8190;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 버튼 호버 시 스타일 */
.search-button1:hover {
    background-color: #2b5d70;
}



.rank-content-container{
    background-color: #F4FFFF;
    margin-left: 20px;
    margin-top: 10px;
    width: 80vh;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.text-cloud-container{
    background-color: #F4FFFF;
    border: 2px solid #3d8190;
    margin-left: 20px;
    margin-top: 2vh;
    border-radius: 20px;
    width: 60vh;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    padding-top: 2vh;
}
.ranking-container{
    background-color: #F4FFFF;
    border: 2px solid #3d8190;
    margin-left: 20px;
    margin-top: 2vh;
    border-radius: 20px;
    width: 20vh;
    height: 40vh;
    padding-left: 2vh;
    padding-top: 2vh;
}