.trendinfo-page {
    background-color: #eeffff;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #bbccff;
}

.navbar-title {
    font-size: 3rem !important;
    font-weight: bold;
    margin-right: auto;
    pointer-events: none;
    color: #000;
    text-decoration: none !important;
    border-right: 1px solid #bbccff;
    padding-right: 150px;
}

.navbar span {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    transition: color 0.3s;
    margin: 0 10px;
    text-decoration: underline;
}

.trendinfo-content-wrapper {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 90%;
}

.trendinfo-content-container {
    background-color: #eeffff;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trendinfo-content {
    background-color: #ffffff;
    width: 97.5%;
    min-height: 95%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #bbccff;
    overflow-y: auto;
}

.trendinfo-content-title {
    margin-top: 4%;
    margin-left: 5%;
    font-weight: bold;
    font-size: 200%
}

.trendinfo-content-list {
    margin-left: 8%;
    font-size: 100%
}

.trendinfo-bottom-wrapper {
    background: linear-gradient(to bottom, #eeffff, #bbccff);
    width: 100%;
    height: 2%;
    display: flex;
    position: fixed;
    bottom: 0;
}