.trendinfo-page {
    background-color: #F4FFFF;
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.navbar {
    width: 15vh;
    height: 60vh;
    background-color: #F4FFFF;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-title {
    font-size: 2rem !important;
    width: 80%;
    font-weight: bold;
    pointer-events: none;
    color: #3d8190;
    text-decoration: none !important;
}

.navbar span {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #3d8190;
    transition: color 0.3s;
    margin: 10px;
    text-decoration: underline;
}

.trendinfo-content-wrapper {
    background-color: #F4FFFF;
    display: flex;
    width: 70%;
    height: 90%;
    padding: 2vh;
}

.trendinfo-content-container {
    background-color: #F4FFFF;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.trendinfo-content {
    background-color: #F4FFFF;
    width: 97.5%;
    min-height: 95%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #3d8190;
    overflow-y: auto;
}

.trendinfo-content-title {
    margin-top: 4%;
    margin-left: 5%;
    font-weight: bold;
    font-size: 200%
}

.trendinfo-content-list {
    margin-left: 8%;
    font-size: 100%
}

.trendinfo-bottom-wrapper {
    background: linear-gradient(to bottom, #eeffff, #bbccff);
    width: 100%;
    height: 2%;
    display: flex;
    position: fixed;
    bottom: 0;
}

.reactions-container {
    background-color: #F4FFFF;
    width: 35vh;
    min-height: 40vh;
    max-height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #3d8190;
    overflow-y: auto;
    margin-left: 20px;
}
