.login-page {
    display: flex;
    background-color: #E4FAFF;
    height: 100vh; /* 화면의 높이를 전체로 채우기 위해 사용 */
}
  
.login-page-left {
    flex: 5; /* 왼쪽 영역이 오른쪽 영역보다 넓도록 설정 */
    background-color: #FFFFFF;
    border-top-right-radius: 5%; /* 왼쪽 위 모서리를 둥글게 만듭니다. */
    border-bottom-right-radius: 5%; /* 왼쪽 아래 모서리를 둥글게 만듭니다. */
}
  
.login-page-right {
    flex: 6; /* 오른쪽 영역이 왼쪽 영역과 동일한 너비를 가지도록 설정 */
    background-color: #E4FAFF;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
  
.input-group {
    margin-bottom: 20px;
}
  
.input-group input {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #000000;
}

.input-group input:out-of-focus {
    border-color: #E4FAFF; /* 포커스를 잃으면 밑줄 색상을 파란색으로 변경합니다. */
}

button {
    background-color: #000000;
    color: white;
    border: none;
    width: 200px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b9b9b9;
}

.social-login-button {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #b9b9b9;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

.social-login-button:hover {
    border: 2px solid #000000;
}

.link-signup-text {
    color: #63abdb;
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
}

.link-signup-text:hover {
    color: #4d7bf0
}