.login-page {
    background-color: #E4FAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면의 높이를 전체로 채우기 위해 사용 */
}
  
.login-page-center {
    width: 80%;
    height: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #bdcefa;
    border-radius: 10px;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
  
.input-group {
    margin-bottom: 20px;
}
  
.input-group input {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #000000;
}

.input-group input:out-of-focus {
    border-color: #E4FAFF; /* 포커스를 잃으면 밑줄 색상을 파란색으로 변경합니다. */
}

button {
    background-color: #000000;
    color: white;
    border: none;
    width: 200px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b9b9b9;
}

.social-login-button {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #b9b9b9;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

.social-login-button:hover {
    border: 2px solid #000000;
}

.link-signup-text {
    color: #63abdb;
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
}

.link-signup-text:hover {
    color: #4d7bf0
}